<head>
    <meta charset="UTF-8" />
</head>
<body>
    <div class="header">
    <div class="header_logo">
        <h1>Portal Vida Digital com Equilíbrio</h1>
    </div>
        <nav class="header_nav">
            <ul class="nav">
                <li class="nav-item"><a href="#home">Principal</a></li>
                <li class="nav-item"><a href="#tips">Dicas</a></li>
                <li class="nav-item"><a href="#crono">Cronômetro</a></li>
                <li class="nav-item"><a href="#test">Teste</a></li>
            </ul>
        </nav>
    </div>
</body>

