<head>
    <meta charset="UTF-8" />
</head>
<body>
        <div>
            <div class="card">
                <img src="/assets/img/header.jpg" class="card-img-top" alt="Imagem background para header">
                <div class="card-body">
                    <h1 class="card-title">Portal Vida Digital com Equilíbrio</h1>
                    <nav class="header_nav">
                        <ul class="nav">
                            <li class="nav-item"><a href="#home">Principal</a></li>
                            <li class="nav-item"><a href="#tips">Dicas</a></li>
                            <li class="nav-item"><a href="#crono">Cronômetro</a></li>
                            <li class="nav-item"><a href="#test">Teste</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
</body>

