<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste de Dependência Digital</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <script src="/assets/js/teste.js"></script>
    <div class="teste-home">
      <h1 class="titulo1">Teste de Dependência Digital</h1>
      <h2 class="titulo2">
        Vamos fazer perguntas para Você, Apenas marque uma das alternativas!
        <br />Vamos lá! 😊
      </h2>
      <p class="perguntas-home">
        Você sente ansiedade quando está sem o celular ou longe de dispositivos
        digitais?
      </p>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q1s"
          name="q1"
          value="Sim"
          required
        />
        <label class="form-check-label" for="q1s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q1n"
          name="q1"
          value="Não"
        />
        <label class="form-check-label" for="q1n">Não</label>
      </div>
      <p class="perguntas-home">
        Você costuma usar o celular mesmo quando está com outras pessoas, como
        familiares ou amigos?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q2s"
          name="q2"
          value="Sim"
          required
        />
        <label class="form-check-label" for="q2s">Sim</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q2n"
          name="q2"
          value="Não"
        />

        <label class="form-check-label" for="q2n"> Não</label>
      </div>

      <p class="perguntas-home">
        Você verifica notificações no celular a cada poucos minutos, mesmo sem
        necessidade?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q3s"
          name="q3"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q3s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q3n"
          name="q3"
          value="Não"
        />

        <label class="form-check-label" for="q3n"> Não </label>
      </div>

      <p class="perguntas-home">
        Você já perdeu horas de sono por ficar mexendo no celular ou no
        computador?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q4s"
          name="q4"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q4s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q4n"
          name="q4"
          value="Não"
        />

        <label class="form-check-label" for="q4n">Não </label>
      </div>

      <p class="perguntas-home">
        Você sente dificuldade em passar um dia inteiro sem acessar redes
        sociais?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q5s"
          name="q5"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q5s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q5n"
          name="q5"
          value="Não"
        />

        <label class="form-check-label" for="q5n">Não </label>
      </div>

      <p class="perguntas-home">
        Você utiliza o celular ou outro dispositivo assim que acorda?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q6s"
          name="q6"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q6s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q6n"
          name="q6"
          value="Não"
        />

        <label class="form-check-label" for="q6n">Não </label>
      </div>

      <p class="perguntas-home">
        Você já teve problemas na escola, no trabalho ou em casa por causa do
        uso excessivo da tecnologia?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q7s"
          name="q7"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q7s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q7n"
          name="q7"
          value="Não"
        />
        <label class="form-check-label" for="q7n"> Não </label>
      </div>

      <p class="perguntas-home">
        Você sente necessidade de responder mensagens ou verificar atualizações
        imediatamente?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q8s"
          name="q8"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q8s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q8n"
          name="q8"
          value="Não"
        />

        <label class="form-check-label" for="q8n"> Não</label>
      </div>

      <p class="perguntas-home">
        Você fica irritado ou inquieto quando a bateria do celular está
        acabando?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q9s"
          name="q9"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q9s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q9n"
          name="q9"
          value="Não"
        />

        <label class="form-check-label" for="q9n">Não </label>
      </div>

      <p class="perguntas-home">
        Você sente que passa mais tempo na frente das telas do que gostaria?
      </p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q10s"
          name="q10"
          value="Sim"
          required
        />

        <label class="form-check-label" for="q10s">Sim </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="q10n"
          name="q10"
          value="Não"
        />

        <label class="form-check-label" for="q10n"> Não </label>
      </div>
      <br />
      <button id="btnResultado" onclick="resultadoDoTeste()">Resultado</button>
      <p id="resultadoDoTeste"></p>
    </div> 
  </body>
</html>
