div.header {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

div.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}